### Link : https://www.serialupdates.me/shark-tank-india-investors-names-sony-tv-newshow-entrepreneurs-list/

## Aim: Write a reusable function code to scrape the table for all the columns

• Convert the columns data with proper data type conversion

In [1]:
url = 'https://www.serialupdates.me/shark-tank-india-investors-names-sony-tv-new-show-entrepreneurs-list/'

In [2]:
import os

In [23]:
os.chdir('D:\Scripting')

In [24]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests

In [25]:
browser = webdriver.Firefox()

In [26]:
browser.get(url)

In [27]:
html = browser.page_source

In [28]:
soup = BeautifulSoup(html,'html.parser')

In [29]:
soup.select('figure.wp-block-table.is-style-stripes')[1].find_all('thead')[0].find_all('th')[0].text.strip()

'Sr No.'

In [30]:
table = soup.select('figure.wp-block-table.is-style-stripes')[1]

In [31]:
thead = [i.text.strip() for i in table.find_all('th')]
thead

['Sr No.',
 'Entrepreneur Name',
 'From',
 'Business',
 'Deal',
 'Original Ask',
 'Final Offer',
 'Investors']

In [32]:
import pandas as pd

In [33]:
def shark_tank():
    thead = [i.text.strip() for i in table.find_all('th')]
    data=[]
    for a in soup.select('figure.wp-block-table.is-style-stripes')[1].tbody.find_all('tr'):
        data.append([i.text.strip() for i in a.find_all('td')])
    df = pd.DataFrame(data)
    df.columns = thead
    return df

In [34]:
df1 = shark_tank()
df1

,Sr No.,Entrepreneur Name,From,Business,Deal,Original Ask,Final Offer,Investors
0,1,Aditi Madan (Momo Mami),Darjeeling,Momos(BluePine Foods),Deal,₹50 lakhs5% Equity,₹75 lakhs 16% Equity,"Ashneer, Aman, Vineeta"
1,2,Rutvij Dasadia,Ahmedabad,Electric Scooters (Booz),Deal,₹40 lakhs15% Equity,₹40 lakhs50% Equity,"Ashneer, Vineeta"
2,3,Riya Khattar,New Delhi,Outfit(Heart Up My Sleeves),Deal,₹25 lakhs 10% Equity,₹25 lakhs30% Equity,"Anupam, Vineeta"
3,4,Anish and Sagar,Delhi,Popped Chips(Tagz Foods),Deal,₹70 lakhs 1% Equity,₹70 lakhs 2.75% Equity,Ashneer
4,5,Singh Family,Punjab,Brain Training(Head and Heart),No Deal,₹50 lakhs 5% Equity,No Offer,N/A
...,...,...,...,...,...,...,...,...
112,113,Madhavi and Satish Datwani,Mumbai,Plant-based Beverages(Green Protein),No Deal,₹60 lakhs2% Equity,₹60 lakhs15% Equity,"Aman, Vineeta, Ghazal"
113,114,Sanandan Sudhir,Ahmedabad,Smart Cooking Device (On2Cook),No Deal,₹1 crore1% Equity,No Offer,N/A
114,115,"Supreet, Manish, Rupali",Mumbai,Washroom Finder App(Woloo),No Deal,₹50 lakhs4% Equity,₹25 lakhs10% Equity₹25 lakhsDebt,Namita
115,116,Anubhav Jain,Modinagar,Lemon Shikanji(Jain Shikanji),Deal,₹40 lakhs8% Equity,₹40 lakhs30% Equity,"Aman, Anupam, Ashneer, Vineeta"
116,117,"Pankaj, Aashna, Suresh",Gurugram,Carenting for Elders(Elcare),No Deal,₹1 crore2.5% Equity,No Offer,N/A

In [35]:
df1.to_csv("Shark Tank Investors Details.csv",index=False)